@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Preahvihear&family=Roboto:wght@400;500;700;900&display=swap');
 :root {
    --primaryTextColor: #DEB887;

 }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

    
}
h1,h2,h3,h4,h5,h6, strong{
    color: black;
}
p{
    font-size: 1rem;   /* 16 px */
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: black;
}

a{
    text-decoration: none;

}

.main-container{
    width: 1100px;
    margin: 0 auto;
}

@media screen and (max-width: 1100px) {
    .main-container{
        width: 90%;
    }
}

/* button */
.btn{
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid pink;
    cursor: pointer;

}
.btn:hover{
    box-shadow: black;
}
/* title */
.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: grey;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background: #DEB887;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Logo and navigation menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    transition: .2s ease-in-out;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem; 
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 2rem ;
}

.logo a{
    color: black;
    
}

nav ul li {
    display: flex;
    align-items: center;
    
}

nav ul li a{
    color: black;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: black;
    margin:  7px;
    transition: all .3s;
    z-index: 99;
}

.burger{
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero Section */
#hero{
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    color: palevioletred;
}


.hero-right img{
    width: 76%;
}

.hero-right {
    display: flex;
    justify-content: center;
}

section{
    padding-left: 3rem;
    padding-bottom: 5rem;
}

/* Services Section */
#services{
    background-color: rgb(249, 246, 246);
    padding: 6rem 0;
}

.services .pre-title{
    margin: 0 auto;
}

.section-title-services{
    text-align: center;
    margin: 1rem 0 4rem;
}

.section-title-portfolio{
    margin: 1rem 0 4rem;
}

.section-title-skills {
    margin: 1rem 0 4rem;
}


/* Layout */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

.service{
    padding: 3rem 2rem ;
    text-align: center;
    background: rgb(250, 218, 224);
    border-radius: 0.7rem;
}

.service h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

.service-icon {
    background: rgb(245, 242, 242);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
}

.service-icon svg {
    fill: grey;
}

/* Portfolio Section */
#portfolios{
    padding: 6rem 0;
}

.portfolio{
    border-radius: 0.7rem;
    overflow: hidden;
    border: 1px solid gainsboro ;
}

.portfolio-cover {
    height: 250px;
    /* margin-top: 3rem; */
}

.portfolio-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.portfolio-info {
    padding: 2rem 1.5rem ;
}

.portfolio-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portfolio h4{
    font-weight: 500;
    font-size: 1.05rem;
}

.portfolio-title a svg:hover{
    fill: grey;
}

.portfolio-title a svg {
    transition: .2s ease-in-out;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portfolio-tags div {
    font-size: .9rem;
    border: 1px solid pink;
    padding: .4rem 1rem;
    color: gray;
    border-radius: 1rem;
}

/* Skills & Education */
#skills {
    /* padding: 6rem 0; */
    background: rgb(245, 242, 242);
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 0.7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: pink;
    position: relative;
}

.education-info p {
    margin: 0.3rem 0;
}

.educations-years {
    margin-bottom: 3rem;
}

/* The Dot on the line */
.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: pink;
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* Contact Section */
#contact {
    padding: 6rem 0;

}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    padding: .75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: rgb(245, 242, 242);
    border: 1px solid gainsboro;
    border-radius: 3px;
    resize: none;

}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: black;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid gray
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: rgb(250, 218, 224);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn-submit:hover {
    background: palevioletred;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}
.contact-item-icon {
    background: rgb(245, 242, 242);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: palevioletred;
}

.contact-item-detail h4 {
    margin-bottom: 0.6rem;   
}

/* Footer Section */
footer {
    padding: 4rem 0;
    background: rgb(245, 242, 242);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons a:hover svg{
    fill: #000;

}

.footer-icons svg {
    fill: #3e3f40;
}
